{% extends 'base.html.twig' %}

				{% block title %}
					Accueil | Hôtel Hypnose Paris
				{% endblock %}

                {% block stylesheets %}
				<link rel="stylesheet" href="{{ asset('/css/paris/accueilParis.css') }}">

				<link rel="stylesheet" href="{{ asset('/css/paris/camera.css') }}">
				<link rel="stylesheet" href="{{ asset('/css/paris/owl.carousel.css') }}">
				<link rel="stylesheet" href="{{ asset('/css/paris/icomoon.css') }}">
				<link rel="stylesheet" href="{{ asset('/css/paris/superfish.css') }}">
				<link rel="stylesheet" href="{{ asset('/css/paris/animate.css') }}">
				<link rel="stylesheet" href="{{ asset('/css/paris/skeleton.css') }}">
				<link rel="stylesheet" href="{{ asset('/css/paris/reset.css') }}">
				{% endblock %}

{% block body %}
<header>
	<div id="insideHeader" class="headerClass">
                <div id="headerTitre" class="headerTitre">
                    <a href="/Accueil"><h1>Hôtel Hypnose</h1></a>
				</div>
                <div id="menuParis" class="headerClass">
                    <ul>
                        <a href="/Accueil">
                            <li>Accueil</li>
                        </a>
						<a href="/paris">
                            <li class="current">Paris</li>
                        </a>
                        <a href="/paris/visites">
                            <li>visites</li>
                        </a>
                        <a href="/paris/blog">
                            <li>Blog</li>
                        </a>
						<a href="/paris/contact">
                            <li>Contact</li>
                        </a>
                    </ul>
                </div>
						<div class="loginVisuel mt-5 justify-content-center">
							<div class="loginName text-danger">{{ app.user }}</div>
						</div>
            </div>

                <!-- START OF THE TOGGLE -->
                <div class="container_hamburger">
                    <input id="toggle" type="checkbox"></input>

                    <label for="toggle" class="hamburger">
                        <div class="top-bun"></div>
                        <div class="meat"></div>
                        <div class="bottom-bun"></div>
                    </label>

                    <div class="navToggle">
                        <div class="navToggle-wrapper">
                            <div id="menuToggle">
                                <a href="/">Accueil</a><br>
                                <a href="/paris">Paris</a><br>
                                <a href="/paris/visites">Visites</a><br>
								<a href="/paris/blog">Blog</a><br>
								<a href="/paris/contact">Contact</a><br><br>
                                <div id="reza">
                                    <div id="btReza" class="btn btn-success">Réservez votre table</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF THE TOGGLE -->
			</div>
        </div>
<!--  SLIDER1 -->
    <div id="stage">
      <a href="#"><h1>Bordeaux</h1>
	  <div class="mesPrix">
		<p>A partir de</p><br>
	  	<button class="prix btn btn-danger">Prix 1340 €</button>
	 </div>
	  <img src="{{ asset('/img/BORDEAUX/usine.jpg') }}" width="100%" height="100%"></a>
      
      <a href="#"><h1>Lyon</h1>
	  <div class="mesPrix">
		<p>A partir de</p><br>
	  	<button class="prix btn btn-danger">Prix 1270 €</button>
	 </div>
	  <img src="{{ asset('/img/LYON/status.jpg') }}" width="100%" height="100%"></a>
      
      <a href="#"><h1>Nice</h1>
	  <div class="mesPrix">
		<p>A partir de</p><br>
	  	<button class="prix btn btn-danger">Prix 1050 €</button>
	 </div>
	  <img src="{{ asset('/img/NICE/vieux_nice.jpg') }}" width="100%" height="100%"></a>

	  <a href="#"><h1>Marseille</h1>
	  <div class="mesPrix">
		<p>A partir de</p><br>
	  	<button class="prix btn btn-danger">Prix 1050 €</button>
	 </div>
	  <img src="{{ asset('/img/MARSEILLE/port.jpg') }}" width="100%" height="100%"></a>
    </div>
<!--  FIN SLIDER1 -->			
		</header>
		
			{#<div id="camera_wrap" class="">
				<div data-src="{{ asset('image/slide.jpg') }}">
					<div class="caption fadeIn">
						<h2>LONDON</h2>
						<div class="price">
							A partir de
							<span>$1000</span>
						</div>
						<a href="#">VOIR PLUS...</a>
					</div>
				</div>
				<div data-src="images/slide1.jpg">
					<div class="caption fadeIn">
						<h2>Maldives</h2>
						<div class="price">
							A partir de
							<span>$2000</span>
						</div>
						<a href="#">VOIR PLUS...</a>
					</div>
				</div>
				<div data-src="images/slide2.jpg">
					<div class="caption fadeIn">
						<h2>Venice</h2>
						<div class="price">
							A partir de
							<span>$1600</span>
						</div>
						<a href="#">LEARN MORE</a>
					</div>
				</div>
			</div>#}
		</div>
<!--==============================Content=================================-->
		<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 10, 2014!</div>
			<div class="container_12">
			<div class="cadreQuatro">
				<div class="grid_4">
					<div class="banner">
						<img src="{{ asset('img/PARIS/caption.jpg') }}" width="100%" alt="">
						<div class="label">
							<div class="title">Bordeaux</div>
							<div class="price">A partir de<span>1000 €</span></div>
							<a href="#">VOIR PLUS...</a>
						</div>
					</div>
				</div>
				<div class="grid_4">
					<div class="banner">
						<img src="{{ asset('img/PARIS/caption.jpg') }}" width="100%" alt="">
						<div class="label">
							<div class="title">Lyon</div>
							<div class="price">A partir de<span>1500 €</span></div>
							<a href="#">VOIR PLUS...</a>
						</div>
					</div>
				</div>
				<div class="grid_4">
					<div class="banner">
						<img src="{{ asset('img/PARIS/caption.jpg') }}" width="100%" alt="">
						<div class="label">
							<div class="title">Nice</div>
							<div class="price">A partir de<span>1600 €</span></div>
							<a href="#">VOIR PLUS...</a>
						</div>
					</div>
				</div>
				<div class="grid_4">
					<div class="banner">
						<img src="{{ asset('img/PARIS/caption.jpg') }}" width="100%" alt="">
						<div class="label">
							<div class="title">Marseille</div>
							<div class="price">A partir de<span>1600 €</span></div>
							<a href="#">VOIR PLUS...</a>
						</div>
					</div>
				</div>
			</div>
				<div class="clear"></div>
				<div class="grid_6">
					<h3>Réservation</h3>
					<div class="col">{{ form(reservationHotelForm) }}</div>
					{#}
					<form id="bookingForm" method="post">
						<div class="fl1">
							<div class="tmInput">
								<input name="Name" placeHolder="Nom:" type="text" data-constraints='@NotEmpty @Required @AlphaSpecial'>
							</div>
							<div class="tmInput">
								<input name="Country" placeHolder="Pays:" type="text" data-constraints="@NotEmpty @Required">
							</div>
						</div>
						<div class="fl1">
							<div class="tmInput">
								<input name="Email" placeHolder="Email:" type="text" data-constraints="@NotEmpty @Required @Email">
							</div>
							<select name="Hotel" class="tmSelect auto" data-class=" tmSelect2" data-constraints="">
								<option>Paris</option>
								<option>Paris</option>
								<option>Bordeaux</option>
								<option>Lyon</option>
								<option>Nice</option>
								<option>Marseille</option>
							</select>
						</div>
						<div class="clear"></div>
						<strong>Check-in</strong>
						<label class="tmDatepicker">
							<input type="text" name="CheckIn" placeHolder='10/05/2024' data-constraints="@NotEmpty @Required @Date">
						</label>
						<div class="clear"></div>
						<strong>Check-out</strong>
						<label class="tmDatepicker">
							<input type="text" name="CheckOut" placeHolder='20/05/2024' data-constraints="@NotEmpty @Required @Date">
						</label>
						<div class="clear"></div>
						<div class="tmRadio">
							<p>Comfort</p>
							<input name="Comfort" type="radio" id="tmRadio0" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' checked/>
							<span>Cheap</span>
							<input name="Comfort" type="radio" id="tmRadio1" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
							<span>Standart</span>
							<input name="Comfort" type="radio" id="tmRadio2" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
							<span>Lux</span>
						</div>
						<div class="clear"></div>
						<div class="fl1 fl2">
							<em>Adultes</em>
							<select name="Adults" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
								<option>1</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
							<div class="clear"></div>
							<em>Chambres</em>
							<select name="Rooms" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
								<option>1</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="fl1 fl2">
							<em>Enfants</em>
							<select name="Children" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
								<option>0</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
							</select>
						</div>
						<div class="clear"></div>
						<div class="tmTextarea">
							<textarea name="Message" placeHolder="Message" data-constraints=''></textarea>
						</div>
						<button class="btn btn-success" type="submit">Envoyer</button>
					</form>
					{#}
				</div>
				<div class="grid_5 prefix_1">
					<h3>Bienvenus</h3>
					<img src="images/page1_img1.jpg" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<p>Lorem ipsum dolor sit ere amet, consectetur ipiscin.</p>
						In mollis erat mattis neque facilisis, sit ametiol
					</div>
					<div class="clear cl1"></div>
					<p>Find the detailed description of this <span class="col1"><a href="http://blog.templatemonster.com/free-website-templates/" rel="dofollow">freebie</a></span> at TemplateMonster blog.</p>
					<p><span class="col1"><a href="http://www.templatemonster.com/category/travel-website-templates/" rel="nofollow">Travel Website Templates</a></span> category offers you a variety of designs that are perfect for travel sphere of business.</p>
					Proin pharetra luctus diam, a scelerisque eros convallis<br><br>
					<h4>Avis Clientelle</h4>
					<blockquote class="bq1">
						<img src="images/page1_img2.jpg" alt="" class="img_inner noresize fleft">
						<div class="extra_wrapper">
							<p>Duis massa elit, auctor non pellentesque vel, aliquet sit amet erat. Nullam eget dignissim nisi, aliquam feugiat nibh. </p>
							<div class="alright">
								<div class="col1">Miranda Brown</div>
								<a href="#" class="btn">Voir plus</a>
							</div>
						</div>
					</blockquote>
				</div>
				<div class="grid_12">
					<h3 class="head1">Dernières nouvelles</h3>
				</div>
				<div class="grid_4">
					<div class="block1">
						<time datetime="2024-01-01">10<span>Janv</span></time>
						<div class="extra_wrapper">
							<div class="text1 col1"><a href="#">Aliquam nibh</a></div>
							Proin pharetra luctus diam, any scelerisque eros convallisumsan. Maecenas vehicula egestas
						</div>
					</div>
				</div>
				<div class="grid_4">
					<div class="block1">
						<time datetime="2024-01-01">21<span>Janv</span></time>
						<div class="extra_wrapper">
							<div class="text1 col1"><a href="#">Etiam dui eros</a></div>
							Any scelerisque eros vallisumsan. Maecenas vehicula egestas natis. Duis massa elit, auctor non
						</div>
					</div>
				</div>
				<div class="grid_4">
					<div class="block1">
						<time datetime="2024-01-01">15<span>Fev</span></time>
						<div class="extra_wrapper">
							<div class="text1 col1"><a href="#">uamnibh Edeto</a></div>
							Ros convallisumsan. Maecenas vehicula egestas venenatis. Duis massa elit, auctor non
						</div>
					</div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
							<p>Copyright 2024 <a href="#">Hôtel Hypnose</a>. Tout droit reservé.</p>
					</div>
				</div>
			</div>
		</footer>

		{% block javascripts %}
			

			<script>
			$(function (){
				$('#bookingForm').bookingForm({
					ownerEmail: '#'
				});
			})
			$(function() {
				$('#bookingForm input, #bookingForm textarea').placeholder();
			});
		</script>

		{% endblock %}
		

		
	
{% endblock %}
	