{% extends 'base.html.twig' %}

				{% block title %}
					Blog | Hôtel Hypnose Paris
				{% endblock %}

                {% block stylesheets %}
				<link rel="stylesheet" href="{{ asset('/css/paris/blogParis.css') }}">

				<link rel="stylesheet" href="{{ asset('/css/paris/camera.css') }}">
				<link rel="stylesheet" href="{{ asset('/css/paris/owl.carousel.css') }}">
				{% endblock %}

{% block body %}

<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								<li><a href="/">Accueil</a></li>
                                <li><a href="/paris">Paris</a></li>
								<li><a href="/paris/visites">Visites</a></li>
								<li class="current"><a href="/blog/paris">Blog</a></li>
								<li><a href="/paris/contact">Contact</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="grid_12">
					<h1>
						<a href="index.html">
							<img src="{{ asset('img/logo.png') }}" alt="Your Happy Family">
						</a>
					</h1>
				</div>
			</div>
		</header>
<!--==============================Content=================================-->
		<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 10, 2014!</div>
			<div class="container_12">
				<div class="grid_7">
					<h3>Recent Posts</h3>
					<div class="blog">
						<time datetime="2014-10-01">15<span>Feb</span></time>
						<div class="extra_wrapper">
							<div class="text1 col1"><a href="#">uamnibh Edet Mertolo numi</a></div>Posted by
							<a href="#">Admin</a>
						</div>
						<div class="clear"></div>
						<img src="{{ asset('img/PARIS/caption.jpg')}}" alt="" class="img_inner">
						<p>Cras facilisis, nulla vel viverra auctor, leo gna sodales felis, quis malesuada nibh odio ut velit. Proin pharetra luctus diam, a celerisque eros convallis accumsan. </p>Maecenas vehicula egestas venenatis. Duis massa elit, auctor non pellentesque vel aliquet sit amet erat. Nullam eget dignissim nisi, aliquam feugiat nibh.
						<br>
						<a href="#" class="link1">LEARN MORE</a>
					</div>
					<div class="blog">
						<time datetime="2014-10-01">17<span>Feb</span></time>
						<div class="extra_wrapper">
							<div class="text1 col1"><a href="#">ERh EMertlo numolo</a></div>Posted by
							<a href="#">Admin</a>
						</div>
						<div class="clear"></div>
						<img src="{{ asset('img/PARIS/caption.jpg')}}" alt="" class="img_inner">
						<p>Cras facilisis, nulla vel viverra auctor, leo gna sodales felis, quis malesuada nibh odio ut velit. Proin pharetra luctus diam, a celerisque eros convallis accumsan. </p>Maecenas vehicula egestas venenatis. Duis massa elit, auctor non pellentesque vel aliquet sit amet erat. Nullam eget dignissim nisi, aliquam feugiat nibh.
						<br>
						<a href="#" class="link1">LEARN MORE</a>
					</div>
				</div>
				<div class="grid_3 prefix_1">
					<h3 class="head1">CATEGORIES</h3>
					<ul class="list">
						<li><a href="#">Suspendisse massa mi </a></li>
						<li><a href="#">Porttitor at velit id </a></li>
						<li><a href="#">Congue adipiscing </a></li>
						<li><a href="#">Vestibulum vitae porta </a></li>
						<li><a href="#">Vivamus ac sodales </a></li>
						<li><a href="#">Massa quis adipiscing </a></li>
						<li><a href="#">Phasellus hendrerit </a></li>
						<li><a href="#">Libero in sapien </a></li>
						<li><a href="#">Dignissim vel imperdiet </a></li>
					</ul>
					<h3 class="head1">ARchives</h3>
					<ul class="list">
						<li><a href="#">November 2013</a></li>
						<li><a href="#">October 2013</a></li>
						<li><a href="#">September 2013</a></li>
						<li><a href="#">August 2013</a></li>
						<li><a href="#">July 2013</a></li>
					</ul>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						Your Trip (c) 2014 | <a href="#">Privacy Policy</a> | Website Template Designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
					</div>
				</div>
			</div>
		</footer>
		<script>
		$(function (){
			$('#bookingForm').bookingForm({
				ownerEmail: '#'
			});
		})
		</script>
    {% endblock %}