	{% extends 'base.html.twig' %}

				{% block title %}
					Accueil | Hôtel Hypnose
				{% endblock %}

                {% block stylesheets %}
	
	{% endblock %}


{% block body %}

	{% if error %}
			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<div id="fh5co-header">
			<header id="fh5co-header-section">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
						<h1 id="fh5co-logo"><a href="/">Hôtel Hypnose</a></h1>
						<!-- START #fh5co-menu-wrap -->
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu">
								<li class="active">
									<a href="/">Accueil</a>
								</li>
								<li>
									<a href="listing" class="fh5co-sub-ddown">Listing</a>
									<ul class="fh5co-sub-menu">
										<li><a href="/bordeaux" target="_blank">Bordeaux</a></li>
										<li><a href="/lyon" target="_blank">Lyon</a></li>
										<li><a href="/nice" target="_blank">Nice</a></li>
										<li><a href="/marseille" target="_blank">Marseille</a></li>
										<li><a href="http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap" target="_blank">Display</a></li>
										<li><a href="http://freehtml5.co/preview/?item=sprint-free-html5-template-bootstrap" target="_blank">Sprint</a></li>
									</ul>
								</li>
								<li><a href="contact">Contact</a></li>
							</ul>
						</nav>
					</div>

								{####################   LOGIN SYSTEM AREA   #########################}
							{% if app.user is empty %}
					<div class="contentLogin p-1">
						<button class="btn-small rounded bg-warning"><a href="{{ path('app_register') }}">Logon</a></button>
							<button class="btn-small rounded bg-success connexionIci"><a href="{{ path('app_login') }}">Login</a></button>
							
							 {% else %}
							<div class="col-sm-4 p-1 ensembleConnection">
							<div class="col p-2 alert-primary ensembleConnectionIn rounded">
							<div class="loginVisuel justify-content-center">
								<div class="loginName">{{ app.user }}</div>
							
								{#{% if app.user.filename %}
									<a href="{{ path('users_photo_modifier') }}">
										<img class="col mt-1 photo_user" src="/images/properties/{{ app.user.filename }}" width="40px" height="35px">
									</a>
												{% else %}
									<a href="{{ path('users_photo_modifier') }}">
										<img class="col mt-1 photo_user" src="/MES_IMAGES/logo_header/user_default.jpg" width="40px" height="35px">
									</a>
								{% endif %}#}
									
										<a href="{{ path('app_logout') }}" class="mt-1 btn btn-danger p-1" id="deconnexion" type="submit">Déconnexion</a>
									
							</div>
						</div>
							{% endif %}
					</div>
		
					{% if is_granted('ROLE_ADMIN') %}
						<div class="Admin">
							<div class="col">
								<button class="btn btn-danger adminDash"><a href="{{ path('admin') }}">Dashboard-Admin</a></button>
							</div>
					{% endif %}

					<div id="toggle_hamburger">
						<label for="hamburger">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
									<path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/>
								</svg>
						</label>
								<input type="checkbox" id="hamburger"/>
						<div id="menuToggle">
							<ul>
								{#	{% if is_granted('ROLE_ADMIN') %}
								<li><a href="{{ path('admin') }}"><font color="green">Dashboard</font></a></li>
									{% endif %}
								<li><a href="{{ path('accueil') }}">Accueil</a> </li>
									{% if is_granted('ROLE_USER') %}
								<li class="bg-warning rounded"><a href="{{ path('createPost') }}"><font color="white">Crééz un article</font></a></li>
									{% endif %}
								<li><a href="{{ path('afficheArticles') }}">Forum & discussion</a></li>
								<li><a href="{{ path('emploi') }}">Emplois & formations</a></li>
								<li><a href="{{ path('loi') }}">Reglementation & legislation</a></li>
								#}
							</ul>

								{#} BUOTONS TOGGLE {#}
								{% if app.user is empty %}
							<div class="col">
								<button class="btn btn-success connexionIciToggle">Connectez-vous ici</button>
							</div>
								{% else %}
							<button class="col m-1 btn btn-danger p-1" id="deconnexionToggle" type="submit">
								{#<a href="{{ path('app_logout') }}">Déconnexion</a>#}
							</button>
								{% endif %}
								{#} FIN BOUTONS TOGGLE {#}
						</div>
					</div>
				</div>
			</header>
	</div>
		
		{# ENSEMBLE MODALE #}
		<div class="col-sm-3 p-3 alert-secondary rounded ensembleModal">
			<div class="col mb-1 px-2 rounded alert-danger closeLogin">X</div>
			<h5 class="col mb-3 text-center text-success">Login</h5>

				<form action="{{ path('app_login') }}" method="post">
					<label for="username">Email:</label>
					<input type="text" id="username" name="_username" value="{{ last_username }}" required>

					<label for="password">Password:</label>
					<input type="password" id="password" name="_password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="https://127.0.0.1:8000/Accueil" value="{{ path('Accueil') }}"> #}

        <button type="submit">login</button>
    </form>
			
				<small>
					{#
					<a class="col text-danger" href="{{ path('app_forgot_pass') }}">
						Mot de passe oublié?
					</a>
					#}
				</small>
		</div>
			{# FIN MODALE #}

		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({{ asset('img/PARIS/caption.jpg') }});">
				<div class="desc animate-box">
					<h2>Voyagez à travers la France !</h2>
					<!-- <span>Lovely Crafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">FREEHTML5.co</a></span> -->
					<span><a class="btn btn-primary btn-lg" href="#ancre">Commencez</a></span>
				</div>
			</div>
		</div>

		<div class="fh5co-listing">
			<div class="container" id="ancre">
				<div class="row">
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item" href="/paris">
							<img src="{{ asset('img/PARIS/caption.jpg') }}" width="420px" height="445px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Paris</h2>
								<span class="icon">
									<i class="fa fa-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item" href="/bordeaux">
							<img src="{{ asset('img/BORDEAUX/centre.jpg') }}" width="420px" height="445px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Bordeaux</h2>
								<span class="icon">
									<i class="fa fa-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item" href="/lyon">
							<img src="{{ asset('img/LYON/passerelle.jpg') }}" width="420px" height="445px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Lyon</h2>
								<span class="icon">
									<i class="fa fa-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<!-- END 3 row -->

					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item" href="/nice">
							<img src="{{ asset('img/NICE/vue.webp') }}" width="420px" height="445px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Nice</h2>
								<span class="icon">
									<i class="fa fa-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item" href="/marseille">
							<img src="{{ asset('img/MARSEILLE/marches.jpg') }}" width="420px" height="445px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Marseille</h2>
								<span class="icon">
									<i class="fa fa-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<!-- END 3 row -->

				</div>
			</div>
		</div>

		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 fh5co-news">
						<h3>News</h3>
						<ul>
							<li>
								<a href="#">
									<span class="fh5co-date">10 Sept 2024</span>
									<h3>Bordeaux comme vous ne l'avez jamais vu !</h3>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit!</p>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fh5co-date">10 Sept 2024</span>
									<h3>Nice s'habille pour le festival</h3>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit!</p>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fh5co-date">10 Sept 2024</span>
									<h3>Le vieux port se refait une Beauté à Marseille</h3>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit!</p>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6 fh5co-testimonial">
						<img src="{{ asset('img/PARIS/caption.jpg') }}" width="400px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive mb20">
						<img src="{{ asset('img/PARIS/caption.jpg') }}" width="400px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="#"><i class="fa-brands fa-twitter"></i></a>
								<a href="#"><i class="fa-brands fa-facebook"></i></a>
								<a href="#"><i class="fa-brands fa-instagram"></i></a>
								<a href="#"><i class="fa-brands fa-dribbble"></i></a>
								<a href="#"><i class="fa-brands fa-youtube"></i></a>
							</p>
							<p>Copyright 2024 <a href="#">Hôtel Hypnose</a>. Tout droit reservé.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- END fh5co-page -->
</div>
	<!-- END fh5co-wrapper -->
	{% block javascripts %}{% endblock %}

	{#
		<script src="{{ asset('/js/modalClass.js') }}"></script>
		<script src="{{ asset('/js/modalClassBarr.js') }}"></script>
	#}
{% endblock %}


