{% extends 'base.html.twig' %}

{% block title %}ReservationHotel index{% endblock %}

{% block body %}
    <h1>ReservationHotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Country</th>
                <th>Hotel</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
                <th>Comfort</th>
                <th>Adults</th>
                <th>Rooms</th>
                <th>Children</th>
                <th>Message</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_hotel in reservation_hotels %}
            <tr>
                <td>{{ reservation_hotel.id }}</td>
                <td>{{ reservation_hotel.name }}</td>
                <td>{{ reservation_hotel.email }}</td>
                <td>{{ reservation_hotel.country }}</td>
                <td>{{ reservation_hotel.hotel }}</td>
                <td>{{ reservation_hotel.checkIn ? reservation_hotel.checkIn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation_hotel.checkOut ? reservation_hotel.checkOut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation_hotel.comfort }}</td>
                <td>{{ reservation_hotel.adults }}</td>
                <td>{{ reservation_hotel.rooms }}</td>
                <td>{{ reservation_hotel.children }}</td>
                <td>{{ reservation_hotel.message }}</td>
                <td>{{ reservation_hotel.createdAt ? reservation_hotel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reservation_hotel_show', {'id': reservation_hotel.id}) }}">show</a>
                    <a href="{{ path('app_reservation_hotel_edit', {'id': reservation_hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_hotel_new') }}">Create new</a>
{% endblock %}
